{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix Clone</title>
    <!-- Tailwind CSS for styling -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/style.css' %}" />
    <!-- Load jQuery library from Google CDN for easy DOM manipulation and AJAX -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body class="text-white" style="background-color: #141414;"> 

    <!-- Header Section -->
    <header class="p-5 flex justify-between items-center">
        <!-- Netflix Logo -->
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/7a/Logonetflix.png" alt="Netflix Logo" class="h-8"> 
        
        <!-- Navigation -->
        <nav class="flex space-x-5">
            <span><a href="/">Home</a></span>

            <span><a href="/my-list">My List</a></span>
        </nav>
        
        <div class="flex space-x-5 items-center">
            <div class="relative">
                <!-- User Welcome Message -->
                <a href="#" class="block p-2">Welcome, {{user.username}}</a>
                <!--Logout-->
                <a href="/logout" class="block p-2">Logout</a>
            </div>
        </div>
    </header>

    <!-- Section displaying popular movies -->
    <section class="py-10 px-5">
    
        <div align="center">
            <h2 class="text-xl mb-5">
                My List
            </h2>
        </div>
        <div class="flex space-x-5 overflow-x-auto">

            {% for movie in movies reversed %}
            <div class="w-40 h-64 flex-shrink-0 film-card"
                onclick="showModal(this)" 
                data-title="{{ movie.title }}"
                data-description="{{ movie.description }}"
                data-release-date="{{ movie.release_date|date:'Y' }}"
                data-genre="{{ movie.get_genre_display }}" 
                data-length="{{ movie.length }}"
                data-image-card-url="{{ movie.image_card.url }}"
                data-image-cover-url="{{ movie.image_cover.url }}"
                data-video-url="/movie/{{ movie.uu_id }}"
                style="background-image: url('{{movie.image_card.url}}'); background-size: cover; background-position: center;">
            </div>
            {% endfor %}
    </section>

    <!-- Modal for displaying detailed movie information -->
    <div class="modal" id="movieModal">
        <div class="modal-content">
            <!-- Modal header with dynamic movie title and close button -->
            <div class="flex justify-between">
                <h2 class="text-xl mb-5">Movie Title</h2> <!-- Placeholder for movie title -->
                <button onclick="hideModal()">X</button> <!-- Close button -->
            </div>
            <!-- Modal body with movie image, year, length, and description -->
            <img width="1000" height="100" src="" alt="Movie Image" class="mb-5">
            <div class="flex justify-between mb-5">
                <span>Year: </span> <!-- Placeholder for year -->
                <span>Length: </span> <!-- Placeholder for movie length -->
            </div>
            <p class="mb-5">Detailed information about the movie.</p> <!-- Placeholder for movie description -->
            <div class="flex space-x-4 mb-5">
                <a href="movie.html">
                    <button class="bg-red-600 text-white p-2 px-5 rounded hover:bg-red-500">Play</button> <!-- Play button -->
                </a>
                <button id="addToListButton" onclick="addItemToList()" class="border border-white text-white p-2 px-5 rounded hover:bg-gray-700">
                    Add to List
                </button> <!-- Add to list button -->
            </div>
        </div>
    </div>

    <script>
        // Show the modal with details for the selected movie
        function showModal(element) {
            // Retrieve and display movie details from data attributes
            const modal = document.getElementById('movieModal');
            modal.querySelector('.modal-content h2').textContent = element.getAttribute('data-title');
            modal.querySelector('.modal-content img').src = element.getAttribute('data-image-cover-url');
            modal.querySelector('.modal-content img').alt = element.getAttribute('data-title') + " Cover Image";
            modal.querySelector('.modal-content .flex span:first-child').textContent = "Year: " + element.getAttribute('data-release-date');
            modal.querySelector('.modal-content .flex span:nth-child(2)').textContent = "Genre: " + element.getAttribute('data-genre');
            modal.querySelector('.modal-content .flex span:last-child').textContent = "Length: " + element.getAttribute('data-length') + "min";
            modal.querySelector('.modal-content p').textContent = element.getAttribute('data-description');
            modal.querySelector('.modal-content a').href = element.getAttribute('data-video-url');
            modal.style.display = 'block';
            setTimeout(() => { modal.classList.add('modal-show'); }, 50);
        }
        
        // Hide the modal
        function hideModal() {
            const modal = document.querySelector('.modal');
            modal.classList.remove('modal-show');
            setTimeout(() => { modal.style.display = 'none'; }, 300);
        }

        // Close the modal when clicking outside of it
        window.onclick = function(event) {
            if (event.target === document.getElementById('movieModal')) {
                hideModal();
            }
        }

        // Function to handle adding a movie to the user's list
        function addItemToList() {
            const modal = document.getElementById('movieModal');
            var movieID = modal.querySelector('.modal-content a').href;

            // AJAX POST request to add the movie to the list
            $.ajax({
                url: "{% url 'add-to-list' %}",
                type: "POST",
                data: {
                    movie_id: movieID,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function(data) {
                    // On success, disable the 'Add to List' button and update its text
                    $('#addToListButton').text(data.message).prop('disabled', true);
                },
                error: function(xhr, errmsg, err) {
                    // Log any errors to the console
                    console.error("Error adding item to list: " + errmsg);
                }
            });
        }

    </script>
    
</body>
</html>